// app global css in SCSS form
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }